{% extends "_base.html" %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block content %}
<div class="row">
    <h1>{{ gallery }}</h1>
</div>
<div class="row">
    {% for image in gallery.images.all %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            
            <img src="{{ image.thumb.url }}" class="card-img-top" alt="...">
            
            <div class="card-body">
                {% comment %}
                <h5 class="card-title">{{ image.title }}</h5>
                {% endcomment %}
                <p class="card-text">{{ image.description }}</p>
                <a href="{{ image.file.url }}" target="_blank" class="btn btn-dark">...</a>
                
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% comment %}

<div class="row">
    {% for image in gallery.images.all %}
    <div class="col-md-3">
        <img src="{{ image.file.url }}" alt="" width="100%" height="auto">
    </div>
    {% endfor %}

</div>
{% endcomment %}
{% endblock content %}