{% extends "_base.html" %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block head %}
<style>
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: #6c757d;
        top: 0;
        bottom: 0;
        right: 50%;
        margin-right: -1px;
    }

    .timeline-entry {
        padding: 10px 0;
        position: relative;
        width: 100%;
    }

    .timeline-entry::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 3px solid #212529;
        border-radius: 50%;
        top: 50%;
        right: 50%;
        margin-right: -9px;
        margin-top: -8px;
        z-index: 1;
    }

    .timeline-content {
        padding: 15px;
        background-color: #f8f9fa;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        width: 45%;
    }

    .timeline-entry:nth-child(even) .timeline-content {
        margin-right: 55%;
        text-align: right;
    }

    .timeline-entry:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55%;
        text-align: left;
    }

    .timeline-date {
        font-weight: bold;
        /* color: #0d6efd; */
        margin-bottom: 5px;
    }

    .timeline-title {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 768px) {
        .timeline::after {
            right: 31px;
        }

        .timeline-entry {
            padding-left: 70px;
            padding-right: 35px;
        }

        .timeline-entry::after {
            right: 13px;
        }

        .timeline-content {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 15px !important;
        }
    }
</style>
{% endblock head %}

{% block content %}
<div class="timeline">
    {% for entry in entries %}
    <div class="timeline-entry">
        <div class="timeline-content" id="{{ entry.h_year }}-{{ entry.id }}">
            <div class="timeline-date text-dark">{{ entry.h_year }}</div>
            <div class="timeline-title">{{ entry.title }}</div>
            {% if entry.description %}
            <div class="timeline-description">{{ entry.description }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}


{% comment %}
<div class="table-responsive">

  <table class="table table-striped">
    <tbody>
      حسن اقارب پرست فرزند محمدرحيم
      <tr>
        <td>1325</td>	<td>متولد ارديبهشت ماه در اصفهان</td>
      </tr>
      <tr>
        <td>1343</td>	<td>پايان تحصيلات متوسطه - ورود به دانشکده افسري</td>
      </tr>
      <tr>
        <td>1347</td>	<td>فارغ التحصيل دانشکده افسري با درجه ستوان دوم - ورود به دوره مقدماتي زرهي شيراز</td>
      </tr>
      
      <tr>
        <td>1350</td>	<td>ازدواج با حوريه کلاهدوز قوچاني</td>
      </tr>
      <tr>
        <td>1352</td>	<td>تولد اولين فرزند : بصير</td>
      </tr>
      <tr>
        <td>1355</td>	<td>اعزام به آمريکا براي گذراندن دوره نظامي تولد دومين فرزند: محمد شريف</td>
      </tr>
      
      <tr>
        <td>1356</td>	<td>پايان خدمت در شيراز و مراجعت به تهران براي دوره فرماندهي و ستاد</td>
      </tr>
      <tr>
        <td>1358</td>	<td>تولد سومين فرزند: محمد رحيم</td>
      </tr>
      <tr>
        <td>1360</td>	<td>سفر حج</td>
      </tr>
      <tr>
        <td>1361</td>	<td>تولد چهارمين فرزند: محمد علي</td>
      </tr>
      <tr>
        <td>1362</td>	<td>تقاضاي انتقال از ستاد مشترک به مناطق عملياتي جنوب</td>
      </tr>
      <tr>
        <td>1363</td>	<td>در 25 مهرماه بر اثر اصابت خمپاره و درحين بازديد از جزاير مجنون به شهادت رسيد</td>
      </tr>
      
    </tbody>
  </table>
</div>
{% endcomment %}