{% extends "_base.html" %}

{% block head %}
<!-- Swiper CSS -->
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<style type="text/css">
     
     .swiper {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .swiper-slide img {
        display: block;
        width: 90%;
        height: auto;
        max-height: 600px;
        object-fit: contain;
        margin: 0 auto;
    }
        /* Custom pagination styles */
        .swiper-pagination-bullet {
        background: #999999; /* Default bullet color */
        opacity: 1;
    }
    
    .swiper-pagination-bullet-active {
        background: #212529; /* Active bullet color - change to your preferred color */
    }
    
    /* Adjust padding for smaller screens */
    @media (max-width: 768px) {
        .swiper-slide img {
            width: 85%;
        }
    }
</style>
{% endblock head %}
{% block title %}
{{ page_title }}
{% endblock title %}

{% block content %}
<div class="row my-2">
    <h2>گزیده‌ای از تصاویر</h2>
    {% for image in images %}
    <div class="col-sm-6 col-md-3 my-2 text-center">
        <a href="{{ image.get_absolute_url}}">
            <div class="img-card">
                <img src="{{ image.thumb.url }}" alt="{{ image.title }}" class="img-img">
            </div>
        </a>
    </div>
    {% endfor %}        
</div>

<div class="row my-2">
    <h2>گزیده‌ای از گواهینامه‌ها</h2>
    {% for image in certs %}
    <div class="col-sm-6 col-md-3 my-2  text-center">
        <a href="{{ image.get_absolute_url}}">
            <div class="img-card">
                <img src="{{ image.thumb.url }}" alt="{{ image.title }}" class="img-img">
            </div>
        </a>
    </div>
    {% endfor %}        
</div>

{% comment %}
  
<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for image in images %}
        <div class="swiper-slide">
            <a href="{% url 'galleries:gallery_details' image.gallery.id %}">
                <img src="{{ image.thumb.url }}" alt="{{ image.title }}" style="width: auto; height: 600px;">
            </a>
        </div>
        {% endfor %}        
    </div>
    <div class="swiper-pagination"></div>
</div>

{% endcomment %}
{% endblock content %}


{% block script %}
{% comment %}
  
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        autoplay: {
            delay: 5000,
        },
        breakpoints: {
            // when window width is >= 768px
            800: {
                slidesPerView: 3,
                spaceBetween: 30
            }
        }
    });
</script>
{% endcomment %}
{% endblock script %}