<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'generals:home' %}">حسن اقارب پرست</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if navSection == 'home' %}active{% endif %}" aria-current="page" href="{% url 'generals:home' %}">خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">زندگینامه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if navSection == 'galleries' %}active{% endif %}" href="{% url 'galleries:galleries' %}">آرشیو عکس‌ها</a>
          </li>
          
          {% comment %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              آرشیو متن و عکس
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">متن‌‌ها</a></li>
              <li><a class="dropdown-item" href="#">تصاویر</a></li>             
            </ul>
          </li>
          {% endcomment %}

          <li class="nav-item">
            <a class="nav-link {% if navSection == 'certificates' %}active{% endif %}" href="{% url 'generals:certificates' %}">گواهینامه‌ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">فیلم</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">مسئولیت‌ها</a>
          </li>
          

        </ul>

        <form class="d-flex" role="search">
          <input class="form-control ms-2" type="search" placeholder="جستجو" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">جستجو</button>
        </form>

      </div>
    </div>
  </nav>